@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ==========================
   IMAGEM PRINCIPAL TOPO DA TELA
========================== */

#jumbotron {
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.7);
}

#jumbotron h1 {
    color: #fff;
    font-weight: 400;
    font-family: 'PT Serif', serif;
}

#jumbotron p {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-family: 'PT Serif', serif;
}

.background-jumbotron {
  position: relative;
  background-image: url("https://res.cloudinary.com/dqria7gty/image/upload/v1754253847/20250803_171034_1_lvte6d.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-jumbotron::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(83, 83, 83, 0.171); 
  z-index: 1;
}

.background-jumbotron > .container {
  position: relative;
  z-index: 2; 
}

.custom > .btn-custom {
  background-color: #c49256;  
  color: #fff;                
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom .btn-custom:hover {
  background-color: #e6ac65;  
  color: #fff;                
}

.custom {
    padding-top: 270px;
}

@media(max-width: 1204px) {
    .custom {
        padding-top: 200px;
    }
}

@media(max-width: 576px) {
    .custom {
        padding-top: 250px;
    }

    
}
